<!-- <h6>{{ title }}</h6> -->
<!-- <button type="button" routerLink="">Home</button> -->

<h4>Angular Task - 2 : Nested Routing - Bhavy</h4>

<div id="page-head" class="container-fluid">
  <div>
    <ul class="navbar">
      <li>
        <a href="" routerLink="/">Home</a>
      </li>
      <li>
        <a href="javascript:void(0)">HRMS<i class="fas fa-caret-down"></i></a>

        <ul class="nestlist">
          <li>
            <a href="#timetracker" routerLink="/timetracker">Time Tracker</a>
          </li>
          <li>
            <a href="#companypolicy" routerLink="/companypolicy"
              >Company Policy <i class="fas fa-caret-right"></i
            ></a>
            <ul class="nestlist inner">
              <li>
                <a href="#timelog" routerLink="/companypolicy/timelog"
                  >Time Log</a
                >
              </li>
              <li>
                <a href="#timesheet" routerLink="/companypolicy/timesheet"
                  >Time Sheet</a
                >
              </li>
              <li>
                <a href="#request" routerLink="/companypolicy/requestsheet"
                  >Request Sheet</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a href="#leavemanagement" routerLink="/leavemanagement"
              >Leave Management <i class="fas fa-caret-right"></i
            ></a>
            <ul class="nestlist inner">
              <li>
                <a href="#" routerLink="/leavemanagement/approvedleaves"
                  >Approved Leaves</a
                >
              </li>
              <li>
                <a href="#" routerLink="/leavemanagement/rejectedleaves"
                  >Rejected Leaves</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a href="#payroll" routerLink="/payroll">Payroll</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)"
          >Password Management<i class="fas fa-caret-down"></i
        ></a>
        <ul class="nestlist">
          <li>
            <a href="#password" routerLink="/password">Password</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="javascript:void(0)">Toggle<i class="fas fa-caret-down"></i></a>
        <ul class="nestlist">
          <li>
            <a href="#togglereport" routerLink="/togglereport">Toggle Report</a>
          </li>
          <li>
            <a href="#toggledashboard" routerLink="/toggledashboard"
              >Toggle Dashboard</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="infoDiv">
  <h3>DATA</h3>
  <router-outlet></router-outlet>
</div>
