h4{
    text-align: center;
    text-decoration: underline;
}

.navbar {
  list-style-type: none;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
}

//.navbar > li:first-child > a {
//    padding-top: 18px;
//    padding-bottom: 17px;
//}

.navbar > li {
    // border-right: rgba(0, 0, 0, 0.1) 1px solid;
}

.navbar > li:last-child  {
    margin-right: 0;
    // margin-left: auto;
    // border-left: rgba(0, 0, 0, 0.1) 1px solid;
    // border-right: none;
}

*:focus-within > .nestlist {
    display: flex;
}

.nestlist {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 0;
    min-width: 200px;
    display:none;
    top: 100%;
    background-color: rgb(203, 203, 203);
}

li {
    float: left;
    list-style-type: none;    
}

li i.fa-caret-right {
    position: absolute;
    right: 5%;
}


li a {
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:#000;
    transition: 0.5s all ease-in-out;
    background-color: #E9F8F9;
    border: 1px solid;
}

li a:hover {
    background-color: #71dce6;
    // color: #fff; 
    border: 1px solid #000;
}

.nestlist li a {
    text-align: left;
}

.nestlist li {
    // border-bottom: lightgray 1px solid;
    position:relative;
}

.nestlist.inner{
    left: 103%;
    top:0;
}

.nestlist::before{
    content: "";
    display: block;
    width:0;
    height: 0;
    top: -2%;
    left: 10%;
    right:0;
    position: absolute;
    // border-left: 5px solid transparent;
    // border-right: 5px solid transparent;
}

.nestlist.inner::before {
    top: 8%;
    left: -2%;
    border-left: none;
    // border-top: 5px solid transparent;
    // border-bottom: 5px solid transparent;
}

i{
    padding-left:7px;
}
.infoDiv{
    position: absolute;
    top: 20%;
    left: 50%;
    padding: 15px;
    background-color: #6679c4;
    // border-radius: 15px;
    text-align: center;
    width: 400px;
}

.breadcrumbContainer{
    width: 500px;
    // border: 2px solid #1f1f1f;
    margin: 15px 0;
}

.breadcrumb{
    font-size: 20px;
    padding: 10px 0;
}

.animationContainer{
    display: flex;
    justify-content: space-between;
    max-width: 250px;
    margin: 0 auto;
}

.animationContainer button {
    padding: 10px 15px;
    font-size: 14px;
    background-color: chocolate;
    border: none;
    border-radius: 6px;
    border: 2px solid #1f1f1f;
}
